<div class="container">
  <h2><%= @list.name %></h2>
  <p class="list-description"><%= @list.description %></p>
  <h4>List:</h4>
  <% if !@list.items.any? %>
    <%= "<p>-empty-</p>".html_safe %>
  <% else %>
    <ul>
      <% @list.items.each do |item| %>
        <li><%= item.quantity %> <%= item.name %> <%= button_to 'Remove', list_item_path(@list, item), method: :delete%></li>
      <% end %>
    </ul>
  <% end %>
  <p class="add-item-button"><%= button_to 'Add Item', new_list_item_path(@list), method: :get %></p>
<%= button_to 'Back to lists', lists_path, method: :get %>
</div>
